ul {
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
  }

.p-todoList{
  margin: 100px 0px;
  color: #e0e0e07e;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  font-family: 'inter', sans-serif;
}