body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: #16151A;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 80vh;
}