.TodoSearch {
    display: block;
    background: #050017;
    border: 3px solid #430333;
    margin: 20px auto;
    height: 64px;
    width: 80%;
    font-size: 32px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
  }

  .TodoSearch::placeholder {
    color: #E0E0E0;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }

  .buscar{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-align: center;
    color: #e0e0e07e;
    font-size: 24px;
    margin: 0;
  }